*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
}

.app{
  background-image: url('./asserts/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm{
  background-image: url("./asserts/warm-bg.jpg");
}

main{
  min-height:100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));

}
