.base-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
  }

  .content{
    display: flex;
    flex-direction: column;

    .image{
      width: 15em;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .form{
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        width: fit-content;

        label{
          font-size: 20px;
        }
      }
    }
  }
}
