.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


:root{
  background-color: #3b3636;
  text-align: center;
}
.appName{
  font: white;
}

ul{
  display: flex;
  flex-direction: row;
}
li{
  width: 200px;
  list-style-type: none;
  border: 1px solid gray;
  padding-left: 5px;
}
a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
