*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.background-img{
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    z-index: -1;
}
.container1{
    padding-top: 10px;
    position: absolute;
    outline: none;
    border: none;
    background: #ffffff;
    width: 100vw;
    /*align-items: right;*/
    text-align: center;
}

ul {
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    margin-left: 67.5%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-align: right;
    font-size: 1rem;
    color: #000000;
    /*text-decoration: none;*/
    text-underline: #ffffff;
    font-style: italic;
    text-transform: uppercase;
}

.logo{
    float: left;
    margin-left: 21.3125%;
    outline: none;
    border: none;
    background: none;
}

.text-history{
    position: fixed;
    top: 10%;
    left: 30%;
    width: 50%;
}
/*.text-history p:first-letter{*/
/*    font-size: 5rem;*/
/*}*/
.text-history text:nth-child(1){
    font-size: 6rem;
    font-weight:bold;
    color: #6d7d98;
    padding-bottom: none;
}

.text-history > .text2{
    font-size: 1.5rem;
    color: #414f6b;
    position: absolute;
    top: 60px;
    left: 87px;
    text-transform: uppercase;
    font-weight: bold;
}
.text-history > .text3{
    padding-left: 8% ;
    padding-top: none;
    margin-top: none;
    font-size: 0.7rem;
    position:absolute;
    top: 120px;
    left: 10px;
}
