*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.background-img{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.container{
    margin-top: 10px;
    position: absolute;
    outline: none;
    border: none;
    background: none;
    width: 100vw;
    /*align-items: right;*/
    text-align: center;
}

ul {
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    margin-left: 67.5%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-align: right;
    font-size: 1rem;
    color: #ffffff;
    /*text-decoration: none;*/
    text-underline: #ffffff;
    font-style: italic;
    text-transform: uppercase;
}

.logo{
    float: left;
    margin-left: 21.3125%;
    outline: none;
    border: none;
    background: none;
}
